/.vscode
/AAPL.csv
/apple_stock.png
/get_data.py
/help_me.py
/hi.py
/j.py
/keras_model.h5
/keras_model2.h5
/model_extra.png
/model_simple.png
/new
/New Compressed (zipped) Folder.zip
/output.txt
/plot.py
/pressure_distribution.csv
/que.py
/STOCKS.IPYNB
/very large model.png